* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: skyblue;
}
table {
  background-color: #fff;
}
.searchArea input,
.searchArea button {
  height: 50px;
  font-weight: 700;
}
.searchArea button {
  width: 100px;
  outline: none;
  border: none;
  background: #2980b9;
  color: #fff;
  border: 1px solid #2980b9;
}
.searchArea button:hover {
  background-color: #0984e3;
  transition: 0.3s;
}
.searchArea input {
  padding-left: 20px;
  outline: none;
  border: 1px solid #2980b9;
  color: #2980b9;
}
::placeholder {
  font-weight: 400;
}
